<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
</div>
    <h2>Students</h2>
    <hr />

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Expected Credential</th>
            <th>Status</th>
            <th>Program</th>
            <th>Registration Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each students}}
          <tr>
            <td><a href="/student/{{this.studentID}}">{{this.studentID}}</a></td>
            <td>{{this.firstName}} {{this.lastName}}</td>
            <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
            <td>{{this.addressStreet}} {{this.addressCity}}, {{this.addressState}} {{this.addressPostal}}</td>
            <td><a href="/students?credential={{this.expectedCredential}}">{{this.expectedCredential}}</a></td>
            <td><a href="/students?status={{this.status}}">{{this.status}}</a></td>
            <td><a href="/students?program={{this.program}}">{{this.program}}</a></td>
            <td><a href="/students?registrationDate={{this.registrationDate}}">{{this.registrationDate}}</a></td>

            {{!-- <td>{{dateFormat this.registrationDate "mediumDate"}}</td> --}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
    {{/if}}

  </div>
</div>






<div class="row">
    <div class="col-md-12">
        <h2>Students</h2>
        <hr />

        <ul>
            {{#each students}}
                <li>{{this.firstName}} {{this.lastName}}</li>
            {{/each}}
        </ul>

    </div>
</div>
